@media (max-width: 780px){

  .container {
    padding: 0 20px;
    width: 100%; /* 最大横幅 */
    margin: 0 auto;
    overflow: hidden;
  }

  header {
    padding:10px;
    background: skyblue;
  }

  #sidebar {
    display: none;
  }

  #menu_bar {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    color: #ffcd5e;
    width:100%;
    padding: 10px 0 10px 30px;
  }

  #menu_bar span {
    font-size: 35px;
    cursor: pointer;
  }
  
  .pankuzu {
    padding: 0;
  }

@media (max-width: 500px){

  .container {
    padding: 0 15px;
    width: 100%; /* 最大横幅 */
    margin: 0 auto;
    overflow: hidden;
  }

  #sidebar {
    display: none;
  }
}
