
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Vollkorn','Noto Serif JP', serif;
  letter-spacing: 3px;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding-left: 260px;
  text-align: center;
}

.sep {
  margin: 60px 0;
  width: 20px;
}

/*====sidemenu===*/

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  display: block;
  content: '';
  cursor: pointer;
  color: #f6ca68;
  background-color:#f6ca68;
}

#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒箇所*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*メニューの中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 260px;/*最大幅（お好みで調整を）*/
  height: 100%;
  color: #f6ca68;
  background-color:#f6ca68;
  text-align:center;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.header-logo-menu{
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}

.sidemenu{
 display:none;
}

.nav-content p {
 color:#fff;
}

.drawer-menu a {
 color:#fff;
}

.logo_deco {
  width: 70%;
}

.logo {
  font-size: 40px;
  margin-bottom: 40px;
  line-height: 45px;
  color:#fff;
}

.logo:hover {
  opacity: 0.8;
}

.tab {
  display: block;
  font-size: 18px;
  height: 50px;
  color: #fff;
  cursor: pointer;
  padding:10px 0;
  margin: 5px 0;
  transition: 0.1s all ease 0.1s;
}

.tab:hover {
  background:rgba(241, 241, 241, 0.27) ;
}

li p {
  font-size: 10px;
}

/*====ICON===*/

.side-footer {
  bottom: 0;
  padding: 5px 0;
}

.side-footer p{
  color:rgb(162, 162, 162);
  font-size:10px;
}

.privacy {
  color:rgb(162, 162, 162);
  font-size: 10px;
  display: block;
  padding-top:10px;
}

.privacy:hover {
  opacity: 0.5;
  font-size: 10px;
  display: block;
}


/*====TOP===*/

.top_image {
  width: 90%;
  max-width: 900px;
  margin: 50px 0;
}

.top_title h1 {
  font-size: 65px;
  padding: 10px 0;
}

.top_title h4 {
  padding: 10px 0;
}

.top_title p {
  font-size: 12px;
  padding-bottom: 20px;
}

/*====TOP-CONCEPTO===*/

.title {
  padding-bottom: 30px;
}

.title p {
  font-size: 10px;
}

.description {
  display: inline-block;
  width :80%;
  max-width: 680px;
  font-size: 13px;
  letter-spacing: 0;
  text-align: left;
}

.link-btn {
  position: relative;
  background: #fff;
  width: 150px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  margin-top: 40px;
  transition: 0.2s all ease 0.2s;
}

.link-btn a {
  color: black;
  display:　block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  width: 100%;
  height:100%;
  text-align: center;
}

.link-btn::after{
  position: absolute;
  top: -10px; bottom: -10px;
  left: -10px; right: -10px;
  background: repeating-linear-gradient(-45deg, #d0d0d0, #d0d0d0 2px, #fff 2px, #fff 5px);
  border-radius: 10px;
  content: '';
  z-index: -1;
  margin: 0 auto;
}

.link-btn:hover {
  background: rgba(252, 248, 236, 0.65);
}

.sp_br {
  display:none;
}

/*====TOP-AVISO===*/
.aviso-s{
  text-align: center;
}

.aviso {
  width: 200px;
  height:140px;
  display: inline-block;
  vertical-align: top;
  margin: 10px 0;
}

.tag-media {
  width: 60px;
  height: 25px;
  background: #80affa;
  color: #fff;
  font-size: 10px;
  line-height: 25px;
  border-radius: 4px;
}

.tag-relese {
  width: 60px;
  height: 25px;
  background: #f6ca68;
  color: #fff;
  font-size: 10px;
  line-height: 25px;
  border-radius: 4px;
}

.tag-aviso {
  width: 60px;
  height: 25px;
  background: #ff7c80;
  color: #fff;
  font-size: 10px;
  line-height: 25px;
  border-radius: 4px;
}

.date {
  font-size: 16px;
  text-align: left;
  padding: 5px 0;
  border-bottom: 1px solid #d0d0d0;
}

.aviso-title {
  font-size: 15px;
  text-align: left;
  padding: 5px 0;
}

/*====TOP-TIENDA===*/

.shop {
  display: inline-block;
  padding-bottom: 30px;
}

.shop h5 {
  padding: 10px 20px;
  text-align: left;
}

.shop p {
  font-size: 12px;
  padding: 10px 20px;
  text-align: left;
}

.iframe {
  display:inline-block;
  width:250px;
  height:250px;
}

.link-btn-2 {
  position: relative;
  background: #fff;
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  transition: 0.2s all ease 0.2s;
}

.link-btn-2 a {
  color: black;
  display:　block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  width: 100%;
  height:100%;
  text-align: center;
}

.link-btn-2::after{
  position: absolute;
  top: -10px; bottom: -10px;
  left: -10px; right: -10px;
  background: repeating-linear-gradient(-45deg, #d0d0d0, #d0d0d0 2px, #fff 2px, #fff 5px);
  border-radius: 10px;
  content: '';
  z-index: -1;
  margin: 0 auto;
}

.link-btn-2:hover {
  background: rgba(252, 248, 236, 0.65);
}


/*====CONCEPT===*/

.beans-wrapper {
  margin-bottom: 60px;
}

.about_specialty {
  background-color: #fdffd1;
}

.about_specialty h5 {
  display: inline-block;
  margin: 10px 0;
  vertical-align:top;
  padding: 5px 10px;
}

.about_specialty p {
  max-width: 310px;
  width:100%;
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  text-align: left;
}

.beans {
  padding: 20px 0;

}

.beans_size {
  width: 170px;
  display:inline-block;
}

.list {
  font-size: 12px;
  text-align: left;
  vertical-align:top;
  display: inline-block;
  padding: 0 20px ;
}

.number {
  font-size: 14px;
}

.flavor {
  font-size: 12px;
  max-width: 360px;
}

/*====MENU===*/

.menu_wrapper {
}

.menu_name {
  margin-bottom: 15px;
}

.menu_name p {
  font-size: 10px;
}
.cafe_list_range {
  max-width: 680px;
  margin: 0 auto;
  text-align: left;
}

.cafe_list {
  display: inline-block;
}

.cafe_list li {
  display: inline-block;
  padding: 10px 0;
  vertical-align: top;
  margin-left: 25px;
  border-bottom: 1px dotted #909090;
}

.cafe_block {
  display: inline-block;
  width: 180px;
  height: 50px;
  position: relative;
}

.menu_pic {
  position: absolute;
  left: 130px;
  top:-5px;
}

.menu_des {
  position: absolute;
  left: 150px;
  top:10px;
  width:300px;
}

.cafe_list p {
  font-size: 10px;
}

.hiero {
  width: 70%;
}

.cafe_list span {
  font-size: 10px;
}

/*====TIENDA===*/

.shop_h4 {
  margin-bottom: 20px;
}

.shop tr {
  display: block;
  margin: 20px 0;

}

.shop th{
  font-size: 12px;
  width: 100px;
}

.shop td {
  font-size: 12px;
  width: 330px;
  text-align: left;
}

iframe {
  width: 80%;
  height: 500px;
  border: 0;
}


/*====CONTACTO===*/

.fa-star {
  font-size: 15px;
  color: #f8d17d;
}

.contact_form {
  max-width: 500px;
  width: 80%;
  display: inline-block;
}

.contact p {
  text-align: left;
  font-size: 12px;
}

select {
  width: 100%;
  height: 35px;
  margin: 3px 0 15px 0;
  padding: 5px 10px;
  font-size: 14px;
  box-sizing: border-box;
  transition: 0.3s;
	letter-spacing: 1px;
	color: #6a6a6a;
	border: 3px solid #c7b5b5;
	border-radius: 4px;
}

input {
  width: 100%;
  margin: 3px 0 15px 0;
  padding: 5px 10px;
  font-size: 14px;
  box-sizing: border-box;
  transition: 0.3s;
	letter-spacing: 1px;
	color: #6a6a6a;
	border: 3px solid #c7b5b5;
	border-radius: 4px;
}

textarea {
  width: 100%;
  height: 100px;
  margin: 3px 0 15px 0;
  padding: 5px 10px;
  font-size: 14px;
  box-sizing: border-box;
  transition: 0.3s;
	letter-spacing: 1px;
	color: #6a6a6a;
	border: 3px solid #c7b5b5;
	border-radius: 4px;
	
}

.submit {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: #c7b5b5;
  color: #fff;
  box-shadow: 2px 3px 5px rgb(199, 199, 199);
  border: none;
}

.submit:hover {
  box-shadow: none;
  background-color: #f8d17d;
}

/*====FOOTER===*/

footer {
  width: 100%;
  bottom: 0;
  margin-top: 100px;
}

.pankuzu {
  background-color: rgb(210, 210, 210);
  height: 30px;
  margin-top: 30px;
  font-size: 12px;
  text-align: left;
  padding-left: 260px;
}

.pankuzu a {
  color: #000;
  padding-left: 20px;
}

.pankuzu p {
  line-height: 30px;
  display: inline;
}
